#style
.button
{

text-align:center;
background-color:white;
color:black;
width:36em;
height:20px;
border-radius:20px;
}
input[type=text],input[type=password]
{
width:490px;
height:30px;
background-color:#f1f1f1;
}
.button:hover{
background-color:royalblue;
}
.label
{
text-size:10px;
}
.container
{
padding:16px 5px 5px 5px;
}
.main
{
background-image:url('new.png');
border-radius:5px;
width:500px;
transform:translateX(60%);
box-shadow:10px 10px 8px;
}
.top
{
color:black;
text-align:center;
background-color:grey;
padding:2% 30% 2% 25%;
border-radius:2px;

}
.container
{
color:white;
}
body
{
margin-top:30px;
background-image:url('man.jpeg')
}
